body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
}

table {
    width: 600px;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    overflow-x: auto;
    overflow-y: auto;
}

thead th:first-child {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

thead th {
    z-index: 10;
    position: sticky;
    top: 0;
}

thead th,
tr td:first-child {
    background-color: #add9e6;
}

tr td:first-child {
    z-index: 100;
    position: sticky;
    left: 0;
}

tr:nth-child(even) td:not(:first-child) {
    background-color: #dbdbdb;
}

tr:nth-child(odd) td:not(:first-child) {
    background-color: #ececec;
}

th,
td {
    padding: 10px;
}
