::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(255, 107, 1, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #ff6b0871;
    border-radius: 5px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;

    background-image: url("./yiqun-tang-3o7O_6fi7Qc-unsplash.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

.container {
    width: 50%;
    margin: auto;
    padding: 30px 30px;

    margin: 0 auto;
    background-color: #4e676b;
}
