body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
}

.tg td {
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}
.tg th {
    border-color: #e1e1e1;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}
.tg .tg-0lax {
    text-align: center;
    vertical-align: center;
    padding: 25px;
}

.container {
    padding: 25px;
    width: 900px;
    background-color: #f5f5f5;
    margin: auto;
}

.gallery-container {
    margin-top: 20px;
}

tbody tr:not(:first-child) img {
    cursor: pointer;
}
