body {
    font-family: Arial, Helvetica, sans-serif;
}

caption {
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    color: #dddddd;
}

table {
    width: 100%;
    background-color: gray;
}

th,
td {
    padding: 18px 16px;
}

thead,
tfoot {
    text-transform: uppercase;
}
